/* Navbar container */
.navbar {
    background-color: #f1f1f1;
    overflow: hidden;
  }
  
  /* Navbar links */
  .navbar a {
    float: right;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Navbar link hover effect */
  .navbar a:hover {
    background-color: #ddd;
    color: #000;
  }
  
  /* Active/current navbar link */
  .navbar .active {
    background-color: #4CAF50;
    color: white;
  }
  