h1{
  color: white;
  background-color: rgb(39, 39, 39);
  padding: 30px;
  text-align: center;
}

.container{
  margin: 1opx;
  background-color: aqua;
}

.submit{
  color:darkblue;
  background-color: wheat;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
}

